<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KeyWizardDataBaseTools.Properties.Settings.SampleDataBaseConnectionString"
            connectionString="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|\KeyWizUpdate.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="KeyWizardDataBaseTools.Properties.Settings.KeyWizConnectionString"
            connectionString="DSN=Test" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
